# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# SO / editor
.DS_Store
Thumbs.db
.vscode/

# Dados grandes
data/
*.fits
*.hdf5
*.h5

# Ambientes
.venv/
.mamba/
conda-meta/
.env
DM_simu.ipynb

# Gammapy datasets
gammapy-datasets/

# JupyterLab temporary files
.virtual_documents/
